/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

button {
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  opacity: 0.9;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.input-container {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.input {
  width: 600px;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid #fce980;
}

.file {
  margin: 5px;
  color: #fce980;
}

.folder {
  margin: 5px;
  cursor: pointer;
  color: #fff;
}

.folder:hover {
  color: #b4b4b4;
}

.control {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control-buttons {
  display: flex;
  gap: 5px;
}

.hide {
  visibility: hidden;
}

.explorer-content {
  display: flex;
  justify-content: space-between;
}

.explorer-files {
  border: 2px solid white;
  border-radius: 5px;
  padding: 0 1rem;
  width: 100px;
  margin-top: 1rem;
}

.textarea-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.textarea {
  border-radius: 5px;
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border: 2px solid #7a2c9e;
  background: rgb(223,151,25);
  background: linear-gradient(337deg, rgba(223,151,25,1) 0%, rgba(221,87,137,1) 32%, rgba(122,44,158,1) 100%); 
  color: white;
}
